#footer{
  border-top: 3px solid #ccc;
  padding: 3rem;
  display: flex;
  align-items: center; 
  font-family: 'Oswald', sans-serif;
}
.footer__left{
flex: 1;
}
.footer__left span{
  color: #341947;
  font-size: 8rem;
  font-weight:600;
  line-height: 1px;
}
.footer__left p {
  font-size: 1.4rem;
  padding: 6px;
  text-align: center;
  position: relative;
}
.footer__left p::before{
  position: absolute;
  left: 20px;
  top:13px;
  content: ""; 
  background: #71478E;
  width: 20px;
  height: 2px;
  
}
.footer__left p::after{
  position: absolute;
  content: "";
  right: 20px;
  top:13px;  
  background: #71478E;
  width: 20px;
  height: 2px;
}
.footer__left a{
  display: block;
  text-transform: capitalize;
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
  background:#71478E;
  border-radius: 6px;
  width: 100%;
  padding: 9px;
}
.footer__right{
flex: 4;
padding:0 3rem;
font-size: 1.6rem;
line-height: 2rem;
color: #675F62;
}
.footer__right p{
  margin-bottom: 1rem;
}
@media (max-width:600px){
  #footer{
    flex-direction: column;
  }
}

