.summary{
  font-family: var(--font-quicksand);
  font-style: normal;
  font-weight: 400;
  color: var(--corTitulo);
  border: 1px solid rgba(128, 128, 128, 0.116);
  margin-bottom: 3rem;
  
}
.sub-title{
  font-size: 1.4rem;
  background: var(--corFundoTitulo);
  border: 1px solid var(--corBorda);
  border-radius: 3px 3px 0px 0px;
  padding: 1rem 1rem;
}
.summary p{
  padding: 1rem;
  line-height: 22px;
  color: currentColor;
  border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}
.summary summary {
  list-style: none;
  text-align: right;
}
.summary details span{
  color: var(--corTextoDestaque);  

}
