/*-->>colors<<--*/
:root{
  --bg-color:#fff;
  --bg-primary: linear-gradient(#FFB455, #ED7839);
  --color-gray:#675F62;
  --secondary: #FDF1EB;
  --color-main: #ED7839;

}
/*--->>Fonts<<---*/
:root{
  --font-roboto:'Roboto', sans-serif;
  --font-quicksand:'Quicksand', sans-serif;
  --font-oswald:'Oswald', sans-serif;
  --font-segoe: 'Segoe UI';
}